.task {
    display: flex;
    align-items: center;
    grid-gap: 10px;
    padding: 10px;

    color: white;

    border: 1px solid red;
    border-radius: 5px;
}

.marker {
    display: block;
    width: 10px;
    height: 10px;
    
    background-color: white;
    border-radius: 50%;
}

.name {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    grid-gap: 10px;
}

.time {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    grid-gap: 10px;
}
