.btn {
    display: flex;
    justify-content: center;
    max-width: 100%;
    width: 100%;
    padding: 10px 10px;

    font-size: 16px;
    color: white;
    text-transform: uppercase;

    background-color: var(--color-base);
    border-radius: 5px;
    border: none;

    transition: all 200ms ease-in;
}

.btn:hover {
    opacity: 0.6;
}

.btn:disabled {
    background: var(--color-gray);
    opacity: 0.6;
}
